<a href="https://colab.research.google.com/github/jumbokh/nknu-class/blob/main/ML/notebooks/ch11_1_KNN_NB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# coding: utf-8
# # KNN
# * 加载数据集

In [1]:
%matplotlib inline
import os
import numpy as np
from scipy import stats
import pandas as pd
#import sklearn.cross_validation as cross_validation
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
orgData = pd.read_csv('date_data2.csv')

In [4]:
# # 朴素贝叶斯
orgData.head()

,income,attractive,assets,edueduclass,Dated,income_rank,attractive_rank,assets_rank
0,3000,9.0,5.145476,1,0,0,0,0
1,3000,14.5,40.643781,4,1,0,0,1
2,3000,6.0,5.145476,1,0,0,0,0
3,3000,1.0,7.067434,1,0,0,0,0
4,3500,14.5,3.728400,2,0,0,0,0

In [6]:
Y = orgData[['Dated']]
orgData1 = orgData.iloc[:, -3:]

orgData1.income_rank = orgData1.income_rank.astype('category')
orgData1.describe(include='all')

        income_rank  attractive_rank  assets_rank
count         100.0       100.000000   100.000000
unique          4.0              NaN          NaN
top             3.0              NaN          NaN
freq           28.0              NaN          NaN
mean            NaN         1.560000     1.510000
std             NaN         1.103896     1.123621
min             NaN         0.000000     0.000000
25%             NaN         1.000000     0.750000
50%             NaN         2.000000     2.000000
75%             NaN         2.250000     2.250000
max             NaN         3.000000     3.000000

In [8]:
train_data1, test_data1, train_target1, test_target1 = train_test_split(
    orgData1, Y, test_size=0.3, train_size=0.7, random_state=123)

In [9]:
# - 建模
from sklearn.naive_bayes import BernoulliNB

NB = BernoulliNB(alpha=1)
NB.fit(train_data1, train_target1.values.flatten())
test_est1 = NB.predict(test_data1)

In [10]:
# - 验证
import sklearn.metrics as metrics

print(metrics.classification_report(test_target1, test_est1))

              precision    recall  f1-score   support

           0       0.89      0.57      0.70        14
           1       0.71      0.94      0.81        16

    accuracy                           0.77        30
   macro avg       0.80      0.75      0.75        30
weighted avg       0.80      0.77      0.76        30