<a href="https://colab.research.google.com/github/jumbokh/nknu-class/blob/main/notebooks/usStock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandas_datareader.data as web

In [ ]:
import requests

headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}

s = requests.session()
s.headers = headers

df = web.DataReader('TSLA','yahoo','2010-01-01', session=s)

In [ ]:
df.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2010-06-29  5.000  3.508  3.800  4.778  93831500.0      4.778
2010-06-30  6.084  4.660  5.158  4.766  85935500.0      4.766
2010-07-01  5.184  4.054  5.000  4.392  41094000.0      4.392
2010-07-02  4.620  3.742  4.600  3.840  25699000.0      3.840
2010-07-06  4.000  3.166  4.000  3.222  34334500.0      3.222

In [ ]:
df.head().to_json(orient="values")

'[[5.0,3.507999897,3.7999999523,4.7779998779,93831500.0,4.7779998779],[6.0840001106,4.6599998474,5.1579999924,4.765999794,85935500.0,4.765999794],[5.1840000153,4.0539999008,5.0,4.3920001984,41094000.0,4.3920001984],[4.6199998856,3.742000103,4.5999999046,3.8399999142,25699000.0,3.8399999142],[4.0,3.1659998894,4.0,3.2219998837,34334500.0,3.2219998837]]'

In [ ]:
df['Date'] = df.index

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2825 entries, 2010-06-29 to 2021-09-16
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       2825 non-null   float64
 1   Low        2825 non-null   float64
 2   Open       2825 non-null   float64
 3   Close      2825 non-null   float64
 4   Volume     2825 non-null   float64
 5   Adj Close  2825 non-null   float64
 6   Date       2825 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6)
memory usage: 256.6 KB

In [ ]:
df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')

In [ ]:
df[['Date','Open','Close','Low','High']].head().to_json(orient="values")

'[[1277769600000,3.7999999523,4.7779998779,3.507999897,5.0],[1277856000000,5.1579999924,4.765999794,4.6599998474,6.0840001106],[1277942400000,5.0,4.3920001984,4.0539999008,5.1840000153],[1278028800000,4.5999999046,3.8399999142,3.742000103,4.6199998856],[1278374400000,4.0,3.2219998837,3.1659998894,4.0]]'

In [ ]:
df.head()

             High    Low   Open  Close      Volume  Adj Close       Date
Date
2010-06-29  5.000  3.508  3.800  4.778  93831500.0      4.778 2010-06-29
2010-06-30  6.084  4.660  5.158  4.766  85935500.0      4.766 2010-06-30
2010-07-01  5.184  4.054  5.000  4.392  41094000.0      4.392 2010-07-01
2010-07-02  4.620  3.742  4.600  3.840  25699000.0      3.840 2010-07-02
2010-07-06  4.000  3.166  4.000  3.222  34334500.0      3.222 2010-07-06

In [ ]:
df[['Date','Open','Close','Low','High']].head()

                 Date   Open  Close    Low   High
Date
2010-06-29 2010-06-29  3.800  4.778  3.508  5.000
2010-06-30 2010-06-30  5.158  4.766  4.660  6.084
2010-07-01 2010-07-01  5.000  4.392  4.054  5.184
2010-07-02 2010-07-02  4.600  3.840  3.742  4.620
2010-07-06 2010-07-06  4.000  3.222  3.166  4.000