<a href="https://colab.research.google.com/github/jumbokh/nknu-class/blob/main/notebooks/%E6%88%91%E7%9A%84%E8%82%A1%E7%A5%A8%E5%88%86%E6%9E%90%E7%AD%86%E8%A8%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 我的股票分析筆記

## 讀取股價歷史資料

In [1]:
import requests
import pandas_datareader.data as web

In [2]:
headers={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}

In [3]:
with requests.session() as s:
  s.headers = headers

df = web.DataReader('TSLA', 'yahoo', start='2010-01-01', session=s)

In [4]:
df.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2010-06-29  5.000  3.508  3.800  4.778  93831500.0      4.778
2010-06-30  6.084  4.660  5.158  4.766  85935500.0      4.766
2010-07-01  5.184  4.054  5.000  4.392  41094000.0      4.392
2010-07-02  4.620  3.742  4.600  3.840  25699000.0      3.840
2010-07-06  4.000  3.166  4.000  3.222  34334500.0      3.222

In [5]:
df.tail()

                  High         Low  ...      Volume   Adj Close
Date                                ...
2021-09-03  734.000000  724.200012  ...  15246100.0  733.570007
2021-09-07  760.200012  739.260010  ...  20039800.0  752.919983
2021-09-08  764.450012  740.770020  ...  18793000.0  753.869995
2021-09-09  762.099976  751.630005  ...  14077700.0  754.859985
2021-09-10  762.609985  734.520020  ...  15114300.0  736.270020

[5 rows x 6 columns]

## 練習一

請計算TSLA股價從上市第一天到現在漲了幾倍？